<div class="post">
  <div class="header">
    <span class="title"> <%= title %> </span>
    <span class="options">
      <button type="submit">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
      <button type="submit">
        <i class="fa-solid fa-trash"></i>
      </button>
    </span>
  </div>
  <p class="info"><%= author %><span class="date"><%= date ></span></p>
  <p><%= content %></p>
</div>
